{% extends 'layout.html' %}

{% block content%}
<div>
    <h1>From {{ title }}</h1>
    <ol>
        {% for item in list_data %}
        <li>
            {% for key, value in item.items %}
            '{{key}}' : '{{value}}'<br>
            {% endfor %}<br>
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}